/*mobile css


/*start of font-face*/

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"),
    url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"),
    url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2"),
    url("../fonts/Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ThinItalic.woff2") format("woff2"),
    url("../fonts/Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-BoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/*end of @fontface*/

.container {
  background: white;
  font-family: "Raleway-Light";
  /* Default size of font is 14px. 16px for larger devices
     which is going to be set in a mediaquery*/
  font-size: 14px;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: "Playfair-Display";
}

img {
  max-width: 100%;
  height: auto;
}

header {
  height: 3.93%;
}

main {
  height: 96.07%;
}

nav {
  /*no flex-direction as row is already the default*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
  height: 3.93%;
}

nav ul {
  display: flex;
  /* align-self: flex-end; */
  flex-basis: 100%;
  justify-content: space-evenly;
  order: 2;
  width: 200px;
  background-color: white;

  /*come back to this later, code for the solid line above nav
  maybe even just add an <hr>
  border-top-style: solid;
  padding: 20px;
  border-color: grey;
  */
}

/* 
<img src="img_girl.jpg" style="width:100%;" > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff; */

.hero-banner {
  display: flex;
  flex-grow: 1;
  height: 13.7%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
}

.about {
  display: flex;
  height: 9.24%;
}

.category-grid {
  height: 27.94%;
}

.featured {
  height: 23.14%;
}

.subscribe {
  height: 11.5%;
}

.footercontainer {
  height: 10.4%;
}
