/*mobile css


/*start of font-face*/

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"),
    url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"),
    url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2"),
    url("../fonts/Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ThinItalic.woff2") format("woff2"),
    url("../fonts/Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-BoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/*end of @fontface*/

.container {
  background: white;
  font-family: "Raleway-Light";
  /* Default size of font is 14px. 16px for larger devices
     which is going to be set in a mediaquery*/
  font-size: 14px;
  color: #2d2d2d; /*body font color*/
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: "Playfair-Display";
  text-align: center;
}

/* img {
  max-width: 100%;
  height: auto;
  object-fit:cover;
} */

nav {
  /*no flex-direction as row is already the default*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: #e2574c;
  font-size: 3.5vw;
  font-weight: 600;

  /* max-width: 100%; */
  /* height: 3.93%; */
}
.brand-icon-wrapper {
  height: 20vw;
  width: 40vw;
  background-image: url(../images/aloha-logo.svg);
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: right;
}

.cart-icon-wrapper {
  height: 20vw;
  width: 15vw;
  background-image: url(../images/cart-icon.svg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center left;
}

nav ul {
  display: flex;
  /* align-self: flex-end; */
  flex-basis: 100vw;
  height: 10vw;
  justify-content: space-evenly;
  align-items: center;
  order: 10; /*set order to a large number to ensure it appears
                last within the flex box*/
  background-color: white;
  border: 0.5vw #d7d7d7;
  border-top-style: solid;

  /*come back to this later, code for the solid line above nav
  maybe even just add an <hr>
  
  */
}

/* 
<img src="img_girl.jpg" style="width:100%;" > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff; */

.hero-banner {
  height: 100vw;

  display: flex;
  flex-basis: 100vw;
  color: white;
  font-size: 5vw;
  line-height: 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  /*check the stuff below out*/
  background-position: left, center 50px, center;
  background-repeat: repeat, no-repeat, repeat;
  background-size: cover, contain, cover;
}

.about {
  height: 67.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-grid {
  height: 206vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-evenly;
}

.category-grid div {
  display: flex;
  color: white;
  font-size: 6vw;
  font-weight: 600;
  justify-content: center;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category:first-child {
  /* Men's div */

  height: 49vw;
  display: flex;
  flex-basis: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/mens-category.jpg);
  background-size: cover;
  align-content: center;
}

.category:nth-child(2) {
  /* Trend's div */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/trends-category.jpg);
  background-size: cover;
  display: flex;
  flex-basis: 49vw;
  height: 49vw;
}

.category:nth-child(3) {
  /* glasses div */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/glasses-category.jpg);
  background-size: cover;
  display: flex;
  flex-basis: 49vw;
  height: 49vw;
}

.category:nth-last-child(3) {
  /* Sale div */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/sale-category.jpg);
  background-size: cover;
  display: flex;
  flex-basis: 49vw;
  height: 49vw;
}

.category:nth-last-child(2) {
  /* bags div */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/bags-category.jpg);
  background-size: cover;
  flex-basis: 49vw;
  height: 49vw;
}

.category:last-child {
  /* Women's div */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/womens-category.jpg);
  background-size: cover;
  display: flex;
  flex-basis: 100vw;
  height: 49vw;
}

.featured {
  /* height: 23.14%; */
  text-align: center;
  line-height: 2em;
  color: #969696;
  height: 500px;
}

.featured h2 {
  color: black;
}
.featured h3 {
  color: #e2574c;
}

.subscribe {
  display: flex;
  flex-direction: column;
  background-image: url(../images/wave-bkgd.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  flex-basis: 100vw;
  height: 67vw;
  margin-bottom: 5px; /*small divide between subscribe and footer*/
}

.form-container {
  position: relative; /*so its child 'submit-button' may use the form
                        form's position as reference when setting 
                        properties(ie. top, right, etc.)*/
}

.submit-button {
  height: 6.4vw;
  width: 25.8vw;
  background-color: #e2574c;
  position: absolute;
  z-index: 3;

  /*for calculations for 'top' and 'right' refer to appendix A*/
  top: calc((100% - 6.4vw) / 2);
  bottom: calc((100% - 6.4vw) / 2);
  right: 7vw;
  border: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border-radius: 25px;
  font-weight: 300;
  padding: 16px 40px;
}

.input-textbox {
  background-color: white;
  border: none;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  height: 9.7vw;
  width: 87.1vw;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 900;
  padding: 16px 40px;
}

.footercontainer {
  background: #242424;
  color: white;
  height: 67vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addresscontainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.addresscontainer p {
  line-height: 2em;
  text-align: center;
}

.socialcontainer {
  display: flex;
  width: 50%;
  justify-content: center;
}
.socialcontainer ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.socialcontainer span {
  display: none;
}

/* .socialcontainer ul li i{
  display:none;
} */
